body {
  background-color: rgb(66, 95, 98);
}

.body-gral {
  background-color: rgba(122, 140, 142, 0.292);
}

.img1 {
  width: 10em;
  height: 10em;
}

.img2 {
  width: 4em;
  height: 4em;
}

.div-ind {
  width: 12em;
  height: 12em;
  border-radius: 50%;
 /* background-color: #19446f;*/
  color:  #19446f; /*rgb(224, 225, 227);*/
  text-align: center;
}

.div-ind2 {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  color: #6f1948;
  text-align: center;
}
.col-blue {
  color: cadetblue;
}

.div-gde {
  padding-top: 15em;
}
/* #region botones*/
.btn-comenzar {
  border-color: white;
  color: white;
  width: 15em;
}

.btn-comenzar:hover {
  background-color: white;
  color: rgb(0, 50, 56);
  border-color: white;
  font-weight: bold;
}

.btn-ir {
  background-color: #212529;
  border-color: #212529;
  color: white;
  width: 5em;
}

.btn-ir:hover {
  color: white;
  background-color: rgb(66, 95, 98);
  border: none;
}

.btn-satellite {
  background-color: #930d83 !important;
  border: none !important;
  color: white !important;
}
.btn-satellite:hover {
  color: white !important;
  background-color: #5e0e41 !important;
  border: none !important;
}

.btn-roadmap {
  background-color:  #a81010 !important;
  border: none !important;
  color: white !important;
}
.btn-roadmap:hover {
  color: white !important;
  background-color: #671418 !important;
  border: none !important;
}

.btn-hybrid {
  background-color: #bf5813 !important;
  border: none !important;
  color: white !important;
}

.btn-hybrid:hover {
  color: white !important;
  background-color: #573118 !important;
  border: none !important;
}

.btn-terrain {
  background-color: #bd3d90 !important;
  border: none !important;
  color: white !important;
}

.btn-terrain:hover {
  color: white !important;
  background-color:#930654  !important;
  border: none !important;
}
.btn-obtener:hover {
    border-color: rgb(66, 95, 98) !important;
    background-color: rgba(122, 140, 142, 0.292) !important;
    color: rgb(66, 95, 98) !important;
    width: 10em;
    font-weight: bold;
}
.btn-obtener {
  color: white !important;
  background-color: rgb(66, 95, 98) !important;
  border-color: rgb(66, 95, 98) !important;
  font-weight: bold;
  width: 10em;
}
/* #endregion */

.text-nav {
  color: white !important;
  font-family: "Courier New", Courier, monospace !important;
}

.text-nav:hover {
  background-color: rgba(0, 0, 0, 0.217);
  border-radius: 15%;
  color: rgba(255, 255, 255, 0.728) !important;
}

.nav-w {
  height: 6em;
}

.text {
  font-family: "Courier New", Courier, monospace !important;
}
.text2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}
.text3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif Geneva, Verdana, sans-serif !important;
}
.space {
  letter-spacing: 2px !important;
}

.text-black 
{
  color: black;
}
.tamaño {
  height: 40em;
}

.nav-large {
  margin: 1%;
  text-align: center;
  height: 1em !important;
}

.valoresdefecto {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* #region mapas */ 

#map6 {
  height: 90%;
}

#mapa8 {
  height: 30rem;
  position: fixed !important;
  
}
#map9 {
  width: 100%;
  height: 90%;
}

#mapa11 {
  width: 100%;
  height: 630px;  
} 

#map12 {
  width: 100%;
  height: 650px;
}

#map14 {
  width: 100%;
  height: 1024px;
}

#map15-1, #map15-2 , #map15-3, #map15-4, #map15-5, #map15-6, #map15-7{
  width: 100%;
  height: 340px;
}

/* #endregion mapas*/

.apoyo{
  height: 25rem;
}

/* #Region Practica 7 */

.body-white {
  background-color: white;
}

.nav-oscura {
  background-color: #212529!important;
}

.card-color {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(145, 181, 185) !important;
  border: 1px solid #19446f !important;
}

.size-card {
  height: 100% !important;
}

.div-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
/* #endregion */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.image-si {
  width: 100% !important;
  height: 100% !important;
  padding: 10%;
}

.mt-6 {
  margin-top: 2.5rem!important;
}

.mb-8 {
  margin-bottom: 7rem!important;
}

.form-select {
  border-radius: 1rem !important;
}